<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <div><%= heroine.name %></div>
      <div><%= link_to heroine.super_name, heroine_path(heroine)%></div>
    </li>
    <br>
  <% end %>
</ul>
