<h1> Heroine # <%= @heroine.id %> </h1>

<h2> Heroine Name: <%= @heroine.name %></h2> <br />
<h2> Heroine's Alias: <%= @heroine.super_name %></h2> <br>
<h2> Heroine's Power: <%= link_to @heroine.power.name, power_path(@heroine.power) %></h2>
